body{
    background: #000;
}
.developography{
    text-align: center;
    margin: 20px;
    font-family: monospace;
    color: slategray;
}
.technology{
    text-align: center;
    margin: 20px;  
    font-size: 300px;
    font-family: monospace;
    color: slategray;
}
.web{
    text-align: center;
    margin: 20px;  
    color: slategray;
    font-size: 300px;
    font-family: monospace;
}
.Services{
    text-align: center;
    color: slategray;
    margin: 20px;  
    font-size: 300px;
    font-family: monospace;
}
.developify{
    text-align: center;
    color: slategray;
    margin: 20px;  
    font-size: 300px;
    font-family: monospace;
}